body {
  margin: 0;
  padding: 0;
  background: #ede6e3;
  font-family: "Helveita Neue", helvetica, arial, sans-serif;
}
#shopping {
  max-width: 640px;
  margin: auto;
  padding: 0 5%;
}
h1 {
  margin: 30px 0 30px;
  font-size: 30px;
  font-weight: 300;
}
strong {
  font-weight: 800;
}
ul.favourites {
  margin: 0 0 30px;
  padding: 0;
}
ul.favourites li {
  position: relative;
  border: 2px solid #f37a48;
  /* background: #f37a48; */
  display: inline-block;
  margin: 0 3px 7px;
  padding: 5px 35px 5px 12px;
  border-radius: 18px;
  cursor: pointer;
  transition: all 80ms linear;
  text-transform: capitalize;
}
ul.favourites li.dummy {
  padding: 5px 12px 5px 12px;
  border: 2px dashed #bababa;
  color: #bababa;
  pointer-events: none;
}
ul.favourites li.dummy:hover {
  background: transparent;
  color: #bababa;  
}
ul.favourites li:first-child {
  margin-left: 0;
}
ul.favourites li:hover {
  background: #f37a48;
  color: white;
}
ul.favourites button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px 6px 6px;
  /* color: #f37a48; */
  font-weight: bold;
  font-size: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
}
ul.favourites button:hover {
  color: white;
}
ul.list {
  margin: 0;
  padding: 20px 0;
}
ul.list li {
  display: inline-block;
  width: 100%;
  margin: 5px;
}
div.item {
  position: relative;
  text-transform: capitalize;
  margin: 2px 0;
  background: #fff;
  color: #0b0b0a;
}    
div.item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
div.item:first-child button {
  border-top-right-radius: 8px;
}
div.item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.item:last-child button {
  border-bottom-right-radius: 8px;
}

div.item p {
  display: inline-block;
  margin: 14px 18px 12px;
  font-size: 18px;
  width: calc(100% - 125px);
}
.item button {
  position: absolute;
  width: 48px;
  height: 100%;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  background: #0b0b0a;
  color: #ffc90b;
  border: none;
  top: 0;
  right: 0;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
}
.item button:hover {
  color: white;
}
*,
button:focus {
  outline:0;
  -moz-appearance: none;
  -webkit-appearance: none;  
  appearance: none;
}
button.add-fav {
  right: 48px;
  background: transparent;
  color: #f37a48;
  font-size: 28px;
}
input {
  width: 100%;
  padding: 16px;
  margin-top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: #111;
  color: white;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
}
input::placeholder {
  color: #888;
}
.label {
  margin: 30px 0 6px;
  font-size: 13px;
  font-style: italic;
  color: #777;
}
.fav {
  margin: 9px 10px 5px 0;
  float: left;
}
svg {
  width: 24px;
  margin-top: 25%;
  transition: all 150ms linear;
  /* fill: #f37a48; */
}
svg.isfav {
  fill: #f37a48;
}
/* svg.isfav:hover {
  fill: transparent;
} */
svg:hover path {
  stroke-width: 3;
}

.itemlist-enter-active {
  transition: all 200ms linear;
}
.itemlist-leave-active,
.favlist-enter-active,
.favlist-leave-active {
  transition: all 50ms linear;
}
.itemlist-enter-from,
.itemlist-leave-to,
.favlist-enter-from,
.favlist-leave-to {
  opacity: 0;
}